.header{
    background-color: #00b5ad;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;

    .menu{
        width: 50%;
    }
    .dropdown{
        padding-top: 7px;
        margin: 0 .35714286em;
    }

}

